@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* { box-sizing: border-box; }
h1, h2, h3, h4, h5, h6, p, figure { margin: 0; }

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #111112;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

input::placeholder { color: #555; }
input:focus { border-color: #d0ff71 !important; }
